.App {
  justify-content: center;
  display: flex;
  padding: 50px 0 50px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-open {
  overflow: scroll;
  overflow-x: hidden;
}

body{
  background-color: #f7f7f7;  
}

img{
  width: 100%;
}

input:focus{
  outline: none;
  color: rgb(85, 85, 85);
}

p{
  text-align: left;
  margin: 0;
  padding: 0;
}

small{
  margin-right: 10px;
  color: rgb(130, 130, 130);
}

.div__wrapper-maincontent{
  background-color: white;
  width: 700px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.div__wrapper-utility{
  background-color: white;
  width: 250px;
  height: 500px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.div__wrapper-votearrows{
  padding-left: 3px;
  padding-right: 3px;
  width: 22px;
}

.img__potd{
  min-height: 400px;
}



